@font-face {
    font-family: "plin";
    src: url(../fonts/riesling.ttf);
}

@font-face {
    font-family: "rose";
    src: url(../fonts/Bellerose.ttf);
}

header {
    background-image: url(../img/ouro-rosa.jpg);
}

.menu {
    background-image: url(../img/-desfoque1.jpg);
    background-size: 100%;
    font-family: "rose";
}

h1 {
    font-family: "plin";
    font-size: 85px;
}

.menu .card {
    background-color: transparent;
}

@font-face {
    font-family: ".menu";
    src: url(../fonts/BADUY.otf);
}