@font-face {
    font-family: "plin";
    src: url(../fonts/riesling.ttf);
}

 @font-face {
font-family: ".menu";
src: url(../fonts/CollegiateFLF.ttf);
}

header {
    background-image: url(../img/ouro-rosa.jpg);
}

.menu {
    background-image: url(../img/1f1c93e42c1c2cac80e0965d11dcd5e8.gif);
    background-size: 50%;
}

footer {
    background-image: url(../img/ouro-rosa-textura-de-glitter-particulas-douradas_160081-288.webp);
}

h1 {
    font-family: "plin";
    font-size: 85px;
}

.menu h1 {
    font-family: ".menu";
    font-size: 100px;
}